<div ng-controller="homeCtrl" class="text-center panel panel-default form-group">
  <h3 class="col-md-offset-2 text-left">Where did you play?</h3>
  <section class="row">
    <p class="col-md-offset-2 col-md-2">Course Name:</p>
    <input type="text" class="col-md-4 courseName" ng-model="courseName" />
  </section>
  <br/>
  <section class="row">
    <p class="col-md-offset-2 col-md-2">Tee Color:</p>
    <input type="text" class="col-md-4 teeColor" ng-model="teeColor" />
  </section>
  <br/>
  <h3 class="col-md-offset-2 text-left">How did you play?</h3>
  <section class="row">
    <p class="col-md-offset-2 col-md-2">Score:</p>
    <input type="text" class="col-md-4 score" ng-model="score" />
  </section>
  <br/>
  <section class="row">
    <p class="col-md-offset-2 col-md-2">Bet points:</p>
    <input type="text" class="col-md-4 points" ng-model="points" />
  </section>
  <test />
</div>
