<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="stylesheet.css" />
<body>
<div class="row player container">
  <div class="col-md-offset-2 row panel panel-default">
    <section class="col-xs-2">
      <!-- <h1 class="number col-xs-1">1</h1> -->
    <img class="num img-responsive" src="http://vignette4.wikia.nocookie.net/lyricwiki/images/9/98/Number_one.png/revision/latest?cb=20080802041439" alt="" />
    </section>
    <section class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-9 name-section">
      <p class="col-xs-11 name">George Colson</p>

    <!-- <section class="col-md-offset-4 col-md-3 stats text-justify"> -->
      <p class="score col-xs-6 text-info stats">Score: 12</p>
      <p class="handicap col-xs-6 text-info stats">Handicap: 14</p>
    </section>

  </div>
</div>
</body>
